{% load static %}
<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--link bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.css"/>

    <!--CSS propio-->
    <link rel="stylesheet" href="{% static 'css/my_styles.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'img/rocket_512x512.png' %}">

    <!-- JS Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body onload="FechaHora()">  
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'time_display' %}">
                <img class="img-nav" src="{% static 'img/rocket_512x512.png' %}" alt="Rocket">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'time_display' %}">Home</a>
                </div>
            </div>
        </div>
    </nav>  

    <div class="container mt-4">        
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.js"></script>

    <script src="{% static 'js/time.js' %}"></script>
</body>
</html>